/*fonts*/
@font-face {
	font-family:'partybusiness';
	src:url('fonts/partybusiness.ttf')format('truetype');
}
@font-face {
	font-family:'anicb___';
	src:url('fonts/anicb___.ttf')format('truetype');
}
@font-face {
	font-family:'tngani';
	src:url('fonts/tngani.ttf')format('truetype');
}
@font-face {
	font-family:'tnganb';
	src:url('fonts/tnganb.ttf')format('truetype');
}
/*set background color to container using image*/
.container{
	background-image: url(images/bg_light.png);
	border: 1px solid #d3d3d3	;
}


/*apply font anicb to navbar and customisation*/
.mynavbar{
	font-family: anicb___;
	font-size: 1vw;
	background-color: #FF4500;
}
.mynav{
	padding-left: 5vw;
}
#navbarNav ul li a{
	color: white;
}
/*carousel*/

.carousel-caption{
	top: 30%;
}

.carousel-caption h5{
	font-family: partybusiness;
	font-size: 4.5vw;
}
/*special caracteres*/
.special-text{
	font-family: tngani;
	color: #FF4500;
}

/*hover for active link*/
.active{
	text-decoration: underline;
	color: white;
}

/*apply font to all p tag*/
p{
	font-family: partybusiness;
	font-size: 2vw;
	padding-left: 2vw;
}

/*class for the individual cards within the deck with 3 images*/
.mycards{
	background-color: #000000;
	color: white;
}

/*class for the caroussel images*/
.imgslider{
	object-fit: cover;
	max-height: 500px;
}

/*small text just below the slider*/
.smaller_text{
	font-size: 0.7em;
}

/*Pills*/
.nav-pills{
	font-family: anicb___;
	font-size: 1.4vw;
}
.special{
	color: #FF4500;
	text-decoration: underline;
}
.special-m{
	color: #FF4500;
	text-decoration: underline;
	font-family: tnganb;
	font-size: 1.8vw;
}

/*class for the 3 deck images*/
.card-img-top {
	width: 100%;
	height: 30vw;
	object-fit: cover;
	padding: 0.5vw;
}
/*pills tabs just above the card deck with 3 images*/
.nav-pills{
	padding: 1em;
}
/*header text just below the slider*/
.paraheader{
	font-size: 1.6vw;
	font-family: anicb___;
	padding-top: 2vw;
	padding-left: 2vw;	
}
.reward{
	padding-top: 2vw;
}
/*class for the line breaks*/
.ligne{
	margin-top: 2em;
	border-top: solid 1.5px black;
}
/*class for the Media object/best hunters*/
.hunters{
	font-weight: bold;
}
/*class for the Media object/best hunters future hyperlinks*/
.future_hyperlink{
	text-decoration: underline;
}
/*about the ring section --> 2 cards header*/
.card-header{
	font-weight: bold;
}
/* class for facebook like images*/
.thumbs{
	max-width: 10vw;
}
/*class for the contact form*/
.form-group{
	max-width: 100%;
}

/*gandal.css old file - specific to the hover effect*/

.card-deck{
	font-family: sans-serif;
}
.card-deck img{
	opacity: 0.5;
}
.card:hover img{
	opacity:1;	
}

.card:hover .test p{
	opacity: 0;	
}
.text1 {
	background-color: rgb(269,269,269);
	opacity: 0.8;
	border-radius: 0.5vw;
	text-align: center;
	font-size: 1.7vw;
	color: rgb(0,0,0);
}
/*class for text "dead" for gimli*/
.text-gimli {
	text-align: center;
	font-size: 5vw;
}
.thousand {
	color: #FF4500;
}
/*class for text for gandalf and aragorn*/
.text2 {
	font-size: 4vw;
	position: absolute;
	top: 35%;
	left: 23%;
	padding: 1vw;
	color: white;
	z-index: 1;
}
/*class for text-decoration: line-through for gimli*/
.text2-gimli {
	font-size: 4vw;
	position: absolute;
	top: 35%;
	left: 23%;
	padding: 1vw;
	color: white;
	z-index: 1;
	text-decoration: line-through #FF4500;
}
.card:hover .gandalf p{
	top:25vw;
	left: 10vw;
	font-size: 2vw;
}